In [14]:
import numpy
import pandas as pd
import seaborn as sns
import sklearn as scikit_learn

In [15]:
df_ludnosc = pd.read_csv("../data/ludnosc.csv", sep=";")
df_gminy = pd.read_csv("../data/gminy.csv", sep=";")

/Users/gsochaj/Library/Python/3.9/lib/python/site-packages/IPython/core/interactiveshell.py:3441: DtypeWarning: Columns (5,7) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [16]:
df_ludnosc.head()

,Kategoria,Kod,Nazwa,Zmienna,Rok,Wartosc,Jednostka miary,Atrybut,Unnamed: 8
0,Gospodarstwa,0,POLSKA,gospodarstwa domowe objęte badaniem,1999,31428,gosp.,NaN,NaN
1,Gospodarstwa,0,POLSKA,gospodarstwa domowe objęte badaniem,2000,36163,gosp.,NaN,NaN
2,Gospodarstwa,0,POLSKA,gospodarstwa domowe objęte badaniem,2001,31847,gosp.,NaN,NaN
3,Gospodarstwa,0,POLSKA,gospodarstwa domowe objęte badaniem,2002,32342,gosp.,NaN,NaN
4,Gospodarstwa,0,POLSKA,gospodarstwa domowe objęte badaniem,2003,32452,gosp.,NaN,NaN

In [17]:
df_gminy.head()

,Kategoria,Kod,Nazwa,Zmienna,Rok,Wartosc,Jednostka miary,Atrybut,Unnamed: 8
0,Ludność,0,POLSKA,ludność na 1 km2,2002,122.0,osoba,NaN,NaN
1,Ludność,0,POLSKA,ludność na 1 km2,2003,122.0,osoba,NaN,NaN
2,Ludność,0,POLSKA,ludność na 1 km2,2004,122.0,osoba,NaN,NaN
3,Ludność,0,POLSKA,ludność na 1 km2,2005,122.0,osoba,NaN,NaN
4,Ludność,0,POLSKA,ludność na 1 km2,2006,122.0,osoba,NaN,NaN

In [18]:
for col in df_ludnosc.columns:
    print(f'{col} - {df_ludnosc[col].unique()}\n')

Kategoria - ['Gospodarstwa' 'Osoby' 'Wyposażenie' 'Artykuły' 'Dochody' 'Wydatki']

Kod - [      0  200000  400000  600000  800000 1000000 1200000 1400000 1600000
 1800000 2000000 2200000 2400000 2600000 2800000 3000000 3200000]

Nazwa - ['POLSKA' 'DOLNOŚLĄSKIE' 'KUJAWSKO-POMORSKIE' 'LUBELSKIE' 'LUBUSKIE'
 'ŁÓDZKIE' 'MAŁOPOLSKIE' 'MAZOWIECKIE' 'OPOLSKIE' 'PODKARPACKIE'
 'PODLASKIE' 'POMORSKIE' 'ŚLĄSKIE' 'ŚWIĘTOKRZYSKIE' 'WARMIŃSKO-MAZURSKIE'
 'WIELKOPOLSKIE' 'ZACHODNIOPOMORSKIE']

Zmienna - ['gospodarstwa domowe objęte badaniem' 'ogółem' 'pracujących'
 'pobierający świadczenia społeczne' 'emerytury i renty'
 'pozostających na utrzymaniu'
 'przeciętna liczba osób pobierających  świadczenia społeczne w relacji do przeciętnej liczby osób w gospodarstwie domowym'
 'chłodziarka' 'automat pralniczy' 'zmywarka do naczyń'
 'kuchenka mikrofalowa'
 'kuchenka elektryczna z płytą ceramiczną, indukcyjną' 'samochód osobowy'
 'odtwarzacz płyt kompaktowych'
 'zestaw do odbioru, rejestracji i odtwarzania dźwięku (wieża HI-FI)'
 'odbiornik telewizyjny' 'zestaw kina domowego' 'odtwarzacz DVD'
 'telefon komórkowy' 'smartfon' 'magnetowid, odtwarzacz'
 'urządzenie do odbioru telewizji satelitarnej'
 'urządzenie do odbioru telewizji satelitarnej lub kablowej'
 'komputer osobisty ogółem' 'komputer osobisty z dostępem do Internetu'
 'komputer osobisty z szerokopasmowym dostępem do Internetu'
 'urządzenie z dostępem do Internetu' 'drukarka' 'drukarka wielofunkcyjna'
 'pieczywo i produkty zbożowe' 'pieczywo' 'mięso' 'mięso surowe'
 'mięso surowe drobiowe' 'wędliny i inne przetwory mięsne' 'wędliny'
 'ryby' 'ryby i owoce morza' 'mleko świeże' 'jogurty i napoje mleczne'
 'jogurty'
 'mleko (bez zagęszczonego i w proszku), napoje mleczne i jogurty'
 'sery i twarogi' 'jaja' 'oleje i tłuszcze' 'owoce' 'warzywa' 'ziemniaki'
 'cukier' 'z pracy najemnej' 'z gospodarstwa indywidualnego w rolnictwie'
 'z pracy na własny rachunek'
 'przeciętny miesięczny dochód rozporządzalny na 1 osobę  z gospodarstwa indywidualnego w rolnictwie w relacji do przeciętnego miesięcznego dochodu na 1 osobę z pracy na własny rachunek'
 'ze świadczeń społecznych'
 'ze świadczeń społecznych; w tym ze świadczenia wychowawczego Rodzina 500+""'
 'dochód do dyspozycji' 'ogółem, Polska = 100'
 'towary i usługi konsumpcyjne' 'żywność i napoje bezalkoholowe'
 'napoje alkoholowe i wyroby tytoniowe' 'odzież i obuwie'
 'użytkowanie mieszkania lub domu i nośniki energii'
 'wyposażenie mieszkania i prowadzenie gospodarstwa domowego' 'zdrowie'
 'transport' 'łączność' 'rekreacja i kultura' 'edukacja'
 'restauracje i hotele' 'pozostałe wydatki na towary i usługi'
 'ogółem (BAEL)' 'towary i usługi konsumpcyjne (BAEL)'
 'udział wydatków na żywność i napoje bezalkoholowe w wydatkach ogółem'
 'udział wydatków na użytkowanie mieszkania i nośniki energii w wydatkach ogółem']

Rok - [1999 2000 2001 2002 2003 2004 2005 2006 2007 2008 2009 2010 2011 2012
 2013 2014 2015 2016 2017 2018 2019 2020 1998]

Wartosc - ['31428' '36163' '31847' ... '77,46' '73,17' '654,69']

Jednostka miary - ['gosp.' 'osoba' '-' '%' 'kg' 'l' 'szt.' 'zł']

Atrybut - [nan 'm' 'x']

Unnamed: 8 - [nan]

In [19]:
for col in df_gminy.columns:
    print(f'{col} - {df_gminy[col].unique()}\n')

Kategoria - ['Ludność' 'Ludność wg grup wieku' 'Mężczyźni wg grup wieku'
 'Kobiety wg grup wieku' 'Bezrobocie' 'Skolaryzacja' 'Dochody per capita'
 'Wydatki per capita']

Kod - [      0  200000  201000 ... 1431001 1431141 1431981]

Nazwa - ['POLSKA' 'DOLNOŚLĄSKIE' 'Powiat bolesławiecki' ...
 'M.st.Warszawa do 2001 (1)' 'Warszawa - Ursus do 2001 (1)'
 'Związek gmin dzielnic Warszawy do 2001 (1)']

Zmienna - ['ludność na 1 km2' 'ogółem' '0-14' '15-64' '65 i więcej'
 'urodzenia żywe na 1000 ludności' 'zgony na 1000 ludności'
 'przyrost naturalny na 1000 ludności' 'mężczyźni' 'kobiety'
 'szkoły podstawowe' 'gimnazja' 'w Dziale 801- Oświata i wychowanie'
 'w Dziale 921 - Kultura i ochrona dziedzictwa narodowego'
 'wydatki w rozdziale 90005 Ochrona powietrza atmosferycznego i klimatu'
 'wydatki majątkowe']

Rok - [2002 2003 2004 2005 2006 2007 2008 2009 2010 2011 2012 2013 2014 2015
 2016 2017 2018 2019 2020 2001]

Wartosc - [122.0 123.0 146.0 ... '120,84' '5256' '9089']

Jednostka miary - ['osoba' '-' '%' 'zł']

Atrybut - [nan 'x' 'z' 'a' 'k']

Unnamed: 8 - [nan]

In [20]:
# TERYT kod - jeżeli id kończy się na 1,2 to jest to gmina zwykła bez podziału. Jeżeli kończy się na 3 to gmina dzieli się jeszcze na terytorium miejskie i wiejskie ale nas to w sumie nie obchodzi hehe
# TERYT kod - jeżeli kończy się na 0 to jest to województwo, powiat lub Polska cała
# TERYT kod - jeżeli kończy się na 4,5 to wtedy 4 - terytorium miejskie oraz 5 - terytorium wiejskie

df_only_gminy = df_gminy[df_gminy['Kod'].apply(str).str.endswith(tuple('123'))]
df_only_gminy.reset_index(inplace=True,drop=True)
df_only_gminy.head(5)

,Kategoria,Kod,Nazwa,Zmienna,Rok,Wartosc,Jednostka miary,Atrybut,Unnamed: 8
0,Ludność,201011,Bolesławiec (1),ludność na 1 km2,2002,1814.0,osoba,NaN,NaN
1,Ludność,201011,Bolesławiec (1),ludność na 1 km2,2003,1809.0,osoba,NaN,NaN
2,Ludność,201011,Bolesławiec (1),ludność na 1 km2,2004,1803.0,osoba,NaN,NaN
3,Ludność,201011,Bolesławiec (1),ludność na 1 km2,2005,1797.0,osoba,NaN,NaN
4,Ludność,201011,Bolesławiec (1),ludność na 1 km2,2006,1726.0,osoba,NaN,NaN

In [22]:
# Wartosci do float'a

df_only_gminy['Wartosc'] = df_only_gminy['Wartosc'].apply(str).str.replace(',','.').apply(float)

# Zrobienie pivota aby wyciągnąć rok jako kolumny i wartość jako dane

df_only_gminy_pivot = df_only_gminy.pivot_table(columns='Rok', index=['Kod','Nazwa','Kategoria','Zmienna','Jednostka miary'],values='Wartosc')
df_only_gminy_pivot.head()

Rok                                                                     2001  \
Kod    Nazwa           Kategoria             Zmienna   Jednostka miary
201011 Bolesławiec (1) Bezrobocie            kobiety   %                 NaN
                                             mężczyźni %                 NaN
                                             ogółem    %                 NaN
                       Dochody per capita    ogółem    zł                NaN
                       Kobiety wg grup wieku 0-14      osoba             NaN

Rok                                                                       2002  \
Kod    Nazwa           Kategoria             Zmienna   Jednostka miary
201011 Bolesławiec (1) Bezrobocie            kobiety   %                   NaN
                                             mężczyźni %                   NaN
                                             ogółem    %                   NaN
                       Dochody per capita    ogółem    zł               1450.0
                       Kobiety wg grup wieku 0-14      osoba               NaN

Rok                                                                       2003  \
Kod    Nazwa           Kategoria             Zmienna   Jednostka miary
201011 Bolesławiec (1) Bezrobocie            kobiety   %                  13.2
                                             mężczyźni %                  14.7
                                             ogółem    %                  13.9
                       Dochody per capita    ogółem    zł               1668.0
                       Kobiety wg grup wieku 0-14      osoba               NaN

Rok                                                                       2004  \
Kod    Nazwa           Kategoria             Zmienna   Jednostka miary
201011 Bolesławiec (1) Bezrobocie            kobiety   %                  11.9
                                             mężczyźni %                  12.6
                                             ogółem    %                  12.2
                       Dochody per capita    ogółem    zł               1577.0
                       Kobiety wg grup wieku 0-14      osoba               NaN

Rok                                                                       2005  \
Kod    Nazwa           Kategoria             Zmienna   Jednostka miary
201011 Bolesławiec (1) Bezrobocie            kobiety   %                  10.3
                                             mężczyźni %                  10.8
                                             ogółem    %                  10.6
                       Dochody per capita    ogółem    zł               1940.0
                       Kobiety wg grup wieku 0-14      osoba               NaN

Rok                                                                        2006  \
Kod    Nazwa           Kategoria             Zmienna   Jednostka miary
201011 Bolesławiec (1) Bezrobocie            kobiety   %                   8.10
                                             mężczyźni %                   7.50
                                             ogółem    %                   7.80
                       Dochody per capita    ogółem    zł               2324.54
                       Kobiety wg grup wieku 0-14      osoba                NaN

Rok                                                                        2007  \
Kod    Nazwa           Kategoria             Zmienna   Jednostka miary
201011 Bolesławiec (1) Bezrobocie            kobiety   %                   6.40
                                             mężczyźni %                   6.30
                                             ogółem    %                   6.30
                       Dochody per capita    ogółem    zł               2724.36
                       Kobiety wg grup wieku 0-14      osoba                NaN

Rok                                                                        2008  \
Kod    Nazwa           Kategoria             Zmienna   Jednostka miary
201011 Bolesławiec (1) Bezrobocie            kobiety   %                   6.10
                                             mężczyźni %                   5.60
                                             ogółem    %                   5.80
                       Dochody per capita    ogółem    zł               2708.51
                       Kobiety wg grup wieku 0-14      osoba                NaN

Rok                                                                       2009  \
Kod    Nazwa           Kategoria             Zmienna   Jednostka miary
201011 Bolesławiec (1) Bezrobocie            kobiety   %                   7.4
                                             mężczyźni %                   7.9
                                             ogółem    %                   7.6
                       Dochody per capita    ogółem    zł               2756.5
                       Kobiety wg grup wieku 0-14      osoba               NaN

Rok                                                                        2010  \
Kod    Nazwa           Kategoria             Zmienna   Jednostka miary
201011 Bolesławiec (1) Bezrobocie            kobiety   %                   7.90
                                             mężczyźni %                   7.20
                                             ogółem    %                   7.50
                       Dochody per capita    ogółem    zł               2971.53
                       Kobiety wg grup wieku 0-14      osoba            2526.00

Rok                                                                       2011  \
Kod    Nazwa           Kategoria             Zmienna   Jednostka miary
201011 Bolesławiec (1) Bezrobocie            kobiety   %                   7.3
                                             mężczyźni %                   6.0
                                             ogółem    %                   6.6
                       Dochody per capita    ogółem    zł               3291.1
                       Kobiety wg grup wieku 0-14      osoba            2524.0

Rok                                                                        2012  \
Kod    Nazwa           Kategoria             Zmienna   Jednostka miary
201011 Bolesławiec (1) Bezrobocie            kobiety   %                   7.60
                                             mężczyźni %                   7.20
                                             ogółem    %                   7.40
                       Dochody per capita    ogółem    zł               2989.65
                       Kobiety wg grup wieku 0-14      osoba            2536.00

Rok                                                                        2013  \
Kod    Nazwa           Kategoria             Zmienna   Jednostka miary
201011 Bolesławiec (1) Bezrobocie            kobiety   %                   7.40
                                             mężczyźni %                   6.40
                                             ogółem    %                   6.90
                       Dochody per capita    ogółem    zł               3278.21
                       Kobiety wg grup wieku 0-14      osoba            2489.00

Rok                                                                        2014  \
Kod    Nazwa           Kategoria             Zmienna   Jednostka miary
201011 Bolesławiec (1) Bezrobocie            kobiety   %                   5.20
                                             mężczyźni %                   4.50
                                             ogółem    %                   4.80
                       Dochody per capita    ogółem    zł               3678.17
                       Kobiety wg grup wieku 0-14      osoba            2532.00

Rok                                                                        2015  \
Kod    Nazwa           Kategoria             Zmienna   Jednostka miary
201011 Bolesławiec (1) Bezrobocie            kobiety   %                   4.40
                                             mężczyźni %                   4.00
                                             ogółem    %                   4.10
                       Dochody per capita    ogółem    zł               3653.29
                       Kobiety wg grup wieku 0-14      osoba            2561.00

Rok                                                                        2016  \
Kod    Nazwa           Kategoria             Zmienna   Jednostka miary
201011 Bolesławiec (1) Bezrobocie            kobiety   %                   3.40
                                             mężczyźni %                   3.00
                                             ogółem    %                   3.20
                       Dochody per capita    ogółem    zł               3905.44
                       Kobiety wg grup wieku 0-14      osoba            2564.00

Rok                                                                        2017  \
Kod    Nazwa           Kategoria             Zmienna   Jednostka miary
201011 Bolesławiec (1) Bezrobocie            kobiety   %                   2.70
                                             mężczyźni %                   2.20
                                             ogółem    %                   2.40
                       Dochody per capita    ogółem    zł               4213.61
                       Kobiety wg grup wieku 0-14      osoba            2558.00

Rok                                                                        2018  \
Kod    Nazwa           Kategoria             Zmienna   Jednostka miary
201011 Bolesławiec (1) Bezrobocie            kobiety   %                   2.70
                                             mężczyźni %                   1.80
                                             ogółem    %                   2.20
                       Dochody per capita    ogółem    zł               4597.48
                       Kobiety wg grup wieku 0-14      osoba            2579.00

Rok                                                                        2019  \
Kod    Nazwa           Kategoria             Zmienna   Jednostka miary
201011 Bolesławiec (1) Bezrobocie            kobiety   %                   2.70
                                             mężczyźni %                   2.00
                                             ogółem    %                   2.30
                       Dochody per capita    ogółem    zł               4900.69
                       Kobiety wg grup wieku 0-14      osoba            2589.00

Rok                                                                        2020
Kod    Nazwa           Kategoria             Zmienna   Jednostka miary
201011 Bolesławiec (1) Bezrobocie            kobiety   %                   4.00
                                             mężczyźni %                   3.00
                                             ogółem    %                   3.50
                       Dochody per capita    ogółem    zł               5199.18
                       Kobiety wg grup wieku 0-14      osoba            2526.00

In [30]:
# Problematyczne operowanie po wieloindeksowej tabeli
print(df_only_gminy_pivot.first_valid_index())

# Rozwiązanie problemu poprzez spłaszczenie pivotu do dataframe'u

df_only_gminy_piv_flatten = pd.DataFrame(df_only_gminy_pivot.to_records())
df_only_gminy_piv_flatten.head(20)

(201011, 'Bolesławiec (1)', 'Bezrobocie', 'kobiety', '%')

,Kod,Nazwa,Kategoria,Zmienna,Jednostka miary,2001,2002,2003,2004,2005,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,201011,Bolesławiec (1),Bezrobocie,kobiety,%,NaN,NaN,13.20,11.90,10.30,...,7.30,7.60,7.40,5.20,4.40,3.40,2.70,2.70,2.70,4.00
1,201011,Bolesławiec (1),Bezrobocie,mężczyźni,%,NaN,NaN,14.70,12.60,10.80,...,6.00,7.20,6.40,4.50,4.00,3.00,2.20,1.80,2.00,3.00
2,201011,Bolesławiec (1),Bezrobocie,ogółem,%,NaN,NaN,13.90,12.20,10.60,...,6.60,7.40,6.90,4.80,4.10,3.20,2.40,2.20,2.30,3.50
3,201011,Bolesławiec (1),Dochody per capita,ogółem,zł,NaN,1450.00,1668.00,1577.00,1940.00,...,3291.10,2989.65,3278.21,3678.17,3653.29,3905.44,4213.61,4597.48,4900.69,5199.18
4,201011,Bolesławiec (1),Kobiety wg grup wieku,0-14,osoba,NaN,NaN,NaN,NaN,NaN,...,2524.00,2536.00,2489.00,2532.00,2561.00,2564.00,2558.00,2579.00,2589.00,2526.00
5,201011,Bolesławiec (1),Kobiety wg grup wieku,15-64,osoba,NaN,NaN,NaN,NaN,NaN,...,14686.00,14345.00,14102.00,13826.00,13600.00,13293.00,13008.00,12776.00,12632.00,12326.00
6,201011,Bolesławiec (1),Kobiety wg grup wieku,65 i więcej,osoba,NaN,NaN,3367.00,3455.00,3567.00,...,3924.00,4111.00,4275.00,4466.00,4669.00,4874.00,5086.00,5238.00,5350.00,5506.00
7,201011,Bolesławiec (1),Kobiety wg grup wieku,ogółem,osoba,NaN,NaN,21806.00,21781.00,21734.00,...,21134.00,20992.00,20866.00,20824.00,20830.00,20731.00,20652.00,20593.00,20571.00,20358.00
8,201011,Bolesławiec (1),Ludność,ludność na 1 km2,osoba,NaN,1814.00,1809.00,1803.00,1797.00,...,1702.00,1691.00,1680.00,1674.00,1670.00,1662.00,1658.00,1652.00,1649.00,1633.00
9,201011,Bolesławiec (1),Ludność,przyrost naturalny na 1000 ludności,-,NaN,-0.93,-0.12,-0.34,-0.89,...,-0.10,-2.95,-2.79,-2.61,-3.02,-2.75,-2.84,-3.25,-4.38,-5.91
10,201011,Bolesławiec (1),Ludność,urodzenia żywe na 1000 ludności,-,NaN,7.74,8.95,8.22,8.82,...,9.18,8.18,7.88,8.00,7.89,8.50,8.82,8.86,8.26,7.28
11,201011,Bolesławiec (1),Ludność,zgony na 1000 ludności,-,NaN,8.67,9.07,8.56,9.71,...,9.28,11.13,10.67,10.61,10.91,11.25,11.66,12.12,12.64,13.20
12,201011,Bolesławiec (1),Ludność wg grup wieku,0-14,osoba,NaN,NaN,NaN,NaN,NaN,...,5274.00,5179.00,5135.00,5166.00,5157.00,5135.00,5185.00,5207.00,5243.00,5168.00
13,201011,Bolesławiec (1),Ludność wg grup wieku,15-64,osoba,NaN,NaN,NaN,NaN,NaN,...,28699.00,28191.00,27716.00,27212.00,26802.00,26241.00,25749.00,25284.00,24968.00,24404.00
14,201011,Bolesławiec (1),Ludność wg grup wieku,65 i więcej,osoba,NaN,NaN,5448.00,5577.00,5700.00,...,6146.00,6481.00,6752.00,7086.00,7414.00,7791.00,8150.00,8444.00,8661.00,8914.00
15,201011,Bolesławiec (1),Ludność wg grup wieku,ogółem,osoba,NaN,NaN,41263.00,41117.00,40984.00,...,40119.00,39851.00,39603.00,39464.00,39373.00,39167.00,39084.00,38935.00,38872.00,38486.00
16,201011,Bolesławiec (1),Mężczyźni wg grup wieku,0-14,osoba,NaN,NaN,NaN,NaN,NaN,...,2750.00,2643.00,2646.00,2634.00,2596.00,2571.00,2627.00,2628.00,2654.00,2642.00
17,201011,Bolesławiec (1),Mężczyźni wg grup wieku,15-64,osoba,NaN,NaN,NaN,NaN,NaN,...,14013.00,13846.00,13614.00,13386.00,13202.00,12948.00,12741.00,12508.00,12336.00,12078.00
18,201011,Bolesławiec (1),Mężczyźni wg grup wieku,65 i więcej,osoba,NaN,NaN,2081.00,2122.00,2133.00,...,2222.00,2370.00,2477.00,2620.00,2745.00,2917.00,3064.00,3206.00,3311.00,3408.00
19,201011,Bolesławiec (1),Mężczyźni wg grup wieku,ogółem,osoba,NaN,NaN,19457.00,19336.00,19250.00,...,18985.00,18859.00,18737.00,18640.00,18543.00,18436.00,18432.00,18342.00,18301.00,18128.00

In [25]:
# NaN wartości
nan_2020 = len(df_only_gminy_piv_flatten[df_only_gminy_piv_flatten['2020'].isna()])
all_val = len(df_only_gminy_piv_flatten)
print(f"Na 2020 rok jest {nan_2020} NaN'ów z {all_val} wartości \nStanowi to {round(nan_2020/all_val*100,2)}% całości")

Na 2020 rok jest 4210 NaN'ów z 68612 wartości
Stanowi to 6.14% całości

In [33]:
# Preprocessing ludnosc.csv. Podział na województwa, przedstawienie ich statystyk itd.

# Ujednolicenie wartości
df_ludnosc['Wartosc'] = df_ludnosc['Wartosc'].apply(str).str.replace(',','.').apply(float)

# Pivot z dataframe'u
df_ludnosc_pivot = df_ludnosc.pivot_table(columns='Rok', index=['Kod','Nazwa','Kategoria','Zmienna','Jednostka miary'],values='Wartosc')

# Spłaszczenie pivot table
df_ludnosc_pivot_flatten = pd.DataFrame(df_ludnosc_pivot.to_records())
df_ludnosc_pivot_flatten.head(20)

,Kod,Nazwa,Kategoria,Zmienna,Jednostka miary,1998,1999,2000,2001,2002,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,0,POLSKA,Artykuły,cukier,kg,NaN,NaN,NaN,NaN,NaN,...,1.18,1.20,1.17,1.19,1.09,1.01,0.93,0.94,0.80,0.84
1,0,POLSKA,Artykuły,jaja,szt.,NaN,NaN,NaN,NaN,NaN,...,12.54,12.50,12.17,12.02,11.76,11.64,11.42,11.09,10.99,11.04
2,0,POLSKA,Artykuły,jogurty,kg,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0.51,0.50,0.50,0.53,0.52,0.52,0.54,0.57
3,0,POLSKA,Artykuły,jogurty i napoje mleczne,kg,NaN,NaN,NaN,NaN,NaN,...,0.82,0.80,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,0,POLSKA,Artykuły,mięso,kg,NaN,NaN,NaN,NaN,NaN,...,5.48,5.42,5.26,5.29,5.27,5.32,5.28,5.20,5.08,5.09
5,0,POLSKA,Artykuły,mięso surowe,kg,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,2.96,3.00,3.02,3.04,3.00,2.96,2.87,2.90
6,0,POLSKA,Artykuły,mięso surowe drobiowe,kg,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,1.51,1.53,1.53,1.57,1.56,1.53,1.53,1.55
7,0,POLSKA,Artykuły,"mleko (bez zagęszczonego i w proszku), napoje ...",l,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,0,POLSKA,Artykuły,mleko świeże,l,NaN,NaN,NaN,NaN,NaN,...,3.42,3.41,3.35,3.26,3.15,3.08,2.99,2.94,2.87,3.06
9,0,POLSKA,Artykuły,oleje i tłuszcze,kg,NaN,NaN,NaN,NaN,NaN,...,1.31,1.31,1.23,1.21,1.15,1.13,1.11,1.07,1.05,1.08
10,0,POLSKA,Artykuły,owoce,kg,NaN,NaN,NaN,NaN,NaN,...,3.29,3.45,3.43,3.59,3.59,3.66,3.64,3.75,3.79,3.86
11,0,POLSKA,Artykuły,pieczywo,kg,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,3.74,3.52,3.31,3.15,2.98,2.75
12,0,POLSKA,Artykuły,pieczywo i produkty zbożowe,kg,NaN,NaN,NaN,NaN,NaN,...,6.70,6.60,6.45,6.26,6.06,5.88,5.67,5.48,5.36,5.31
13,0,POLSKA,Artykuły,ryby,kg,NaN,NaN,NaN,NaN,NaN,...,0.43,0.42,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,0,POLSKA,Artykuły,ryby i owoce morza,kg,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0.34,0.33,0.33,0.32,0.29,0.28,0.27,0.27
15,0,POLSKA,Artykuły,sery i twarogi,kg,NaN,NaN,NaN,NaN,NaN,...,0.94,0.95,0.83,0.82,0.83,0.85,0.86,0.87,0.89,0.95
16,0,POLSKA,Artykuły,warzywa,kg,NaN,NaN,NaN,NaN,NaN,...,9.88,9.60,9.03,8.99,8.68,8.59,8.24,7.92,7.61,7.72
17,0,POLSKA,Artykuły,wędliny,kg,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,2.05,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,0,POLSKA,Artykuły,wędliny i inne przetwory mięsne,kg,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,2.03,2.00,2.03,2.04,2.00,1.97,1.96
19,0,POLSKA,Artykuły,ziemniaki,kg,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,3.69,3.48,3.16,2.97,2.75,2.68