In [6]:
import numpy
import pandas as pd
import seaborn as sns
import sklearn as scikit_learn

In [7]:
df_ludnosc = pd.read_csv("../data/ludnosc.csv", sep=";")
df_gminy = pd.read_csv("../data/gminy.csv", sep=";")

/Users/gsochaj/Library/Python/3.9/lib/python/site-packages/IPython/core/interactiveshell.py:3441: DtypeWarning: Columns (5,7) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [8]:
df_ludnosc.head()

,Kategoria,Kod,Nazwa,Zmienna,Rok,Wartosc,Jednostka miary,Atrybut,Unnamed: 8
0,Gospodarstwa,0,POLSKA,gospodarstwa domowe objęte badaniem,1999,31428,gosp.,NaN,NaN
1,Gospodarstwa,0,POLSKA,gospodarstwa domowe objęte badaniem,2000,36163,gosp.,NaN,NaN
2,Gospodarstwa,0,POLSKA,gospodarstwa domowe objęte badaniem,2001,31847,gosp.,NaN,NaN
3,Gospodarstwa,0,POLSKA,gospodarstwa domowe objęte badaniem,2002,32342,gosp.,NaN,NaN
4,Gospodarstwa,0,POLSKA,gospodarstwa domowe objęte badaniem,2003,32452,gosp.,NaN,NaN

In [9]:
df_gminy.head()

,Kategoria,Kod,Nazwa,Zmienna,Rok,Wartosc,Jednostka miary,Atrybut,Unnamed: 8
0,Ludność,0,POLSKA,ludność na 1 km2,2002,122.0,osoba,NaN,NaN
1,Ludność,0,POLSKA,ludność na 1 km2,2003,122.0,osoba,NaN,NaN
2,Ludność,0,POLSKA,ludność na 1 km2,2004,122.0,osoba,NaN,NaN
3,Ludność,0,POLSKA,ludność na 1 km2,2005,122.0,osoba,NaN,NaN
4,Ludność,0,POLSKA,ludność na 1 km2,2006,122.0,osoba,NaN,NaN

In [10]:
for col in df_ludnosc.columns:
    print(f'{col} - {df_ludnosc[col].unique()}\n')

Kategoria - ['Gospodarstwa' 'Osoby' 'Wyposażenie' 'Artykuły' 'Dochody' 'Wydatki']

Kod - [      0  200000  400000  600000  800000 1000000 1200000 1400000 1600000
 1800000 2000000 2200000 2400000 2600000 2800000 3000000 3200000]

Nazwa - ['POLSKA' 'DOLNOŚLĄSKIE' 'KUJAWSKO-POMORSKIE' 'LUBELSKIE' 'LUBUSKIE'
 'ŁÓDZKIE' 'MAŁOPOLSKIE' 'MAZOWIECKIE' 'OPOLSKIE' 'PODKARPACKIE'
 'PODLASKIE' 'POMORSKIE' 'ŚLĄSKIE' 'ŚWIĘTOKRZYSKIE' 'WARMIŃSKO-MAZURSKIE'
 'WIELKOPOLSKIE' 'ZACHODNIOPOMORSKIE']

Zmienna - ['gospodarstwa domowe objęte badaniem' 'ogółem' 'pracujących'
 'pobierający świadczenia społeczne' 'emerytury i renty'
 'pozostających na utrzymaniu'
 'przeciętna liczba osób pobierających  świadczenia społeczne w relacji do przeciętnej liczby osób w gospodarstwie domowym'
 'chłodziarka' 'automat pralniczy' 'zmywarka do naczyń'
 'kuchenka mikrofalowa'
 'kuchenka elektryczna z płytą ceramiczną, indukcyjną' 'samochód osobowy'
 'odtwarzacz płyt kompaktowych'
 'zestaw do odbioru, rejestracji i odtwarzania dźwięku (wieża HI-FI)'
 'odbiornik telewizyjny' 'zestaw kina domowego' 'odtwarzacz DVD'
 'telefon komórkowy' 'smartfon' 'magnetowid, odtwarzacz'
 'urządzenie do odbioru telewizji satelitarnej'
 'urządzenie do odbioru telewizji satelitarnej lub kablowej'
 'komputer osobisty ogółem' 'komputer osobisty z dostępem do Internetu'
 'komputer osobisty z szerokopasmowym dostępem do Internetu'
 'urządzenie z dostępem do Internetu' 'drukarka' 'drukarka wielofunkcyjna'
 'pieczywo i produkty zbożowe' 'pieczywo' 'mięso' 'mięso surowe'
 'mięso surowe drobiowe' 'wędliny i inne przetwory mięsne' 'wędliny'
 'ryby' 'ryby i owoce morza' 'mleko świeże' 'jogurty i napoje mleczne'
 'jogurty'
 'mleko (bez zagęszczonego i w proszku), napoje mleczne i jogurty'
 'sery i twarogi' 'jaja' 'oleje i tłuszcze' 'owoce' 'warzywa' 'ziemniaki'
 'cukier' 'z pracy najemnej' 'z gospodarstwa indywidualnego w rolnictwie'
 'z pracy na własny rachunek'
 'przeciętny miesięczny dochód rozporządzalny na 1 osobę  z gospodarstwa indywidualnego w rolnictwie w relacji do przeciętnego miesięcznego dochodu na 1 osobę z pracy na własny rachunek'
 'ze świadczeń społecznych'
 'ze świadczeń społecznych; w tym ze świadczenia wychowawczego Rodzina 500+""'
 'dochód do dyspozycji' 'ogółem, Polska = 100'
 'towary i usługi konsumpcyjne' 'żywność i napoje bezalkoholowe'
 'napoje alkoholowe i wyroby tytoniowe' 'odzież i obuwie'
 'użytkowanie mieszkania lub domu i nośniki energii'
 'wyposażenie mieszkania i prowadzenie gospodarstwa domowego' 'zdrowie'
 'transport' 'łączność' 'rekreacja i kultura' 'edukacja'
 'restauracje i hotele' 'pozostałe wydatki na towary i usługi'
 'ogółem (BAEL)' 'towary i usługi konsumpcyjne (BAEL)'
 'udział wydatków na żywność i napoje bezalkoholowe w wydatkach ogółem'
 'udział wydatków na użytkowanie mieszkania i nośniki energii w wydatkach ogółem']

Rok - [1999 2000 2001 2002 2003 2004 2005 2006 2007 2008 2009 2010 2011 2012
 2013 2014 2015 2016 2017 2018 2019 2020 1998]

Wartosc - ['31428' '36163' '31847' ... '77,46' '73,17' '654,69']

Jednostka miary - ['gosp.' 'osoba' '-' '%' 'kg' 'l' 'szt.' 'zł']

Atrybut - [nan 'm' 'x']

Unnamed: 8 - [nan]

In [11]:
for col in df_gminy.columns:
    print(f'{col} - {df_gminy[col].unique()}\n')

Kategoria - ['Ludność' 'Ludność wg grup wieku' 'Mężczyźni wg grup wieku'
 'Kobiety wg grup wieku' 'Bezrobocie' 'Skolaryzacja' 'Dochody per capita'
 'Wydatki per capita']

Kod - [      0  200000  201000 ... 1431001 1431141 1431981]

Nazwa - ['POLSKA' 'DOLNOŚLĄSKIE' 'Powiat bolesławiecki' ...
 'M.st.Warszawa do 2001 (1)' 'Warszawa - Ursus do 2001 (1)'
 'Związek gmin dzielnic Warszawy do 2001 (1)']

Zmienna - ['ludność na 1 km2' 'ogółem' '0-14' '15-64' '65 i więcej'
 'urodzenia żywe na 1000 ludności' 'zgony na 1000 ludności'
 'przyrost naturalny na 1000 ludności' 'mężczyźni' 'kobiety'
 'szkoły podstawowe' 'gimnazja' 'w Dziale 801- Oświata i wychowanie'
 'w Dziale 921 - Kultura i ochrona dziedzictwa narodowego'
 'wydatki w rozdziale 90005 Ochrona powietrza atmosferycznego i klimatu'
 'wydatki majątkowe']

Rok - [2002 2003 2004 2005 2006 2007 2008 2009 2010 2011 2012 2013 2014 2015
 2016 2017 2018 2019 2020 2001]

Wartosc - [122.0 123.0 146.0 ... '120,84' '5256' '9089']

Jednostka miary - ['osoba' '-' '%' 'zł']

Atrybut - [nan 'x' 'z' 'a' 'k']

Unnamed: 8 - [nan]

In [12]:
df_gminy['Nazwa'].unique()

array(['POLSKA', 'DOLNOŚLĄSKIE', 'Powiat bolesławiecki', ...,
       'M.st.Warszawa do 2001 (1)', 'Warszawa - Ursus do 2001 (1)',
       'Związek gmin dzielnic Warszawy do 2001 (1)'], dtype=object)

In [13]:
df_gminy

,Kategoria,Kod,Nazwa,Zmienna,Rok,Wartosc,Jednostka miary,Atrybut,Unnamed: 8
0,Ludność,0,POLSKA,ludność na 1 km2,2002,122.0,osoba,NaN,NaN
1,Ludność,0,POLSKA,ludność na 1 km2,2003,122.0,osoba,NaN,NaN
2,Ludność,0,POLSKA,ludność na 1 km2,2004,122.0,osoba,NaN,NaN
3,Ludność,0,POLSKA,ludność na 1 km2,2005,122.0,osoba,NaN,NaN
4,Ludność,0,POLSKA,ludność na 1 km2,2006,122.0,osoba,NaN,NaN
...,...,...,...,...,...,...,...,...,...
1971426,Wydatki per capita,3263011,Świnoujście (1),wydatki majątkowe,2016,1114,zł,NaN,NaN
1971427,Wydatki per capita,3263011,Świnoujście (1),wydatki majątkowe,2017,1024,zł,NaN,NaN
1971428,Wydatki per capita,3263011,Świnoujście (1),wydatki majątkowe,2018,3206,zł,NaN,NaN
1971429,Wydatki per capita,3263011,Świnoujście (1),wydatki majątkowe,2019,5256,zł,NaN,NaN
1971430,Wydatki per capita,3263011,Świnoujście (1),wydatki majątkowe,2020,9089,zł,NaN,NaN